<footer class="bg-neutral-100 py-11 py-lg-12">
    <div class="container  d-lg-flex d-block justify-content-lg-between">
        <div class=" mb-10 text-white d-block mb-lg-0">
            <a href="index.html"><img src="/assets/images/white-logo.svg" alt="" class="mb-10"></a>
            <div class="d-lg-flex d-block">
                <p class="mb-5 me-lg-9 mb-lg-0"><a href="" class="text-decoration-none">常見問題</a></p>
                <p class="mb-5 me-lg-9 mb-lg-0"><a href="" class="text-decoration-none">關於我們</a></p>
                <p class="mb-5 me-lg-9 mb-lg-0"><a href="" class="text-decoration-none">隱私權政策</a></p>
                <p class="mb-5 me-lg-9 mb-lg-0"><a href="" class="text-decoration-none">使用者條款</a></p>                
            </div>

        </div>
        <div class="text-white text-lg-end">
            <a href="" class="d-inline-block  px-4 py-3 text-white border border-white rounded-circle me-5"><i class="bi bi-line"></i></a>
            <a href="" class="d-inline-block  px-4 py-3 text-white border border-white rounded-circle me-5"><i class="bi bi-youtube"></i></a>
            <a href="" class="d-inline-block  px-4 py-3 text-white border border-white rounded-circle mb-5"><i class="bi bi-facebook"></i></a>
            <p class="footer-text fs-8 mb-lg-0">copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
        </div>
        

        
    </div>
</footer>