

@media (min-width: 992px) {
  .ms-edit {
    margin-left:72px ;
  }

}

  .empty-img {
    height: 240px;
    width: 240px;
   
  }

  .empty-btn {
    width: 258px;
   
  }


    .empty-section {
    padding-top:144px ;
    padding-bottom: 80px;
  }

@media (min-width: 992px) {
  .empty-section {
    padding-top:168px ;
    padding-bottom: 80px;
  }

}